<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HA_Volume.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <HA_Volume.Properties.Settings>
            <setting name="Monitor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HAURL" serializeAs="String">
                <value />
            </setting>
            <setting name="HAToken" serializeAs="String">
                <value />
            </setting>
            <setting name="HAEntity" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultInput" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keybinds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShutdownResume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableMute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PollRate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
        </HA_Volume.Properties.Settings>
    </userSettings>
</configuration>
